{% extends 'partials/main.html' %}
{% block moreStyles%}
<link rel="stylesheet" href="../static/css/estilosIndex.css">
{% endblock%}


{%block container%}

<div class="header white">
    <figure><img src="static/imgs/logoSanidad.png" alt=""></figure>
    <button class="logReg">Iniciar Sesión/Registrarse</button>
    <div class="fondo">
        <button><figure><img src="static/imgs/sun.svg" alt=""></figure></button>
        <button class="activo"><figure><img src="static/imgs/moon.svg" alt=""></figure></button>
    </div>
</div>

<div class="main">
    <div class="margen">
        <div class="hero">
            <div>
                
                <p>Buscamos lo mejor para ti y para los que te rodean</p>
            </div>
            <div>
                <p>Cuidarse es el primer paso para que todo vaya mucho mejor</p>
            </div>
            <div>
                <p>Contactos de emergencia</p>
            </div>
        </div>
        <ul>
            <li>Solicita y cancela tu cita de la forma más sencilla posible</li>
            <li>Busca los centros de salud más cercanos a tu ubicación</li>
            <li>Informate de los ultimos cambios de sanidad ocurridos cerca de ti</li>
            <li>Calendario que puedes personalizar además de apuntar recordatorios de las citas</li>
            <li>Informate acerca de tus citas, toma nota de lo que sientes y lo verá el encargado de la cita
                y podrás observar un informe resumido de tu cita
            </li>
            <li>Busca información acerca de distintos sitios como: farmacias, centros de urgencia, numeros
                de contacto
            </li>
        </ul>
    </div>
</div>

<div class="footer">
    <ul>
        <li><b>Información</b></li>
        <li>Menciones Legales</li>
        <li>Terminos y condiciones</li>
        <li>Proteccion de datos</li>
        <li>Plataforma de reportes</li>
        <li>Privacidad de datos</li>
        <li>Responsabilidad</li>
    </ul>

    <ul>
        <li><b>Ayuda</b></li>
        <li>Ayuda / FQA</li>
        <li>Programa de afiliación</li>
        <li><b>Contactos</b></li>
        <li>Telefono de contacto</li>
        <li>Escribenos</li>
    </ul>
</div>

{% endblock %}