{% extends "partials/main.html"%}
{% block moreStyles%}
<link rel="stylesheet" href="static/css/estiloLoginyRegister.css">
{% endblock %}

{% block container%}
<div class="main">
    <figure><img src="../static/imgs/logoSanidad.png" alt=""></figure>
    <form action="/user" method="get">
        <div>
            <div>
                <label for="recuperar" style="text-align: center;" >Ingresa el nombre de usuario o correo:</label>
                <input type="text" name="recuperar">
            </div>
        <div>
            <div class="no">
                <a href="/inicioSesion">Iniciar Sesión</a>
                <a href="/registrarse">Registrarse</a>
            </div>
            <a href="/lostpass">¿Has olvidado la contraseña?</a>
            <a href="/">Volver</a>
        </div>
    </form>
</div>

{% endblock %}