<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sanidad Madrid</title>
    <link
      rel="shortcut icon"
      href="../../imgs/logoSanidad.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../css/estiloIniReg.css" />
  </head>
  
  <body>
    <div>
      <figure><img src="../../imgs/logoSanidad.png" alt="" /></figure>
      <div>
        <button><a rel="stylesheet" href="../html/login.html">Iniciar Sesión</a></button>
        <button><a rel="stylesheet" href="../html/register.html">Registrarse</a></button>
      </div>
    </div>
  </body>
</html>
