body,figure{
    margin: 0;
}

body{
    
    cursor: url(../imgs/cursor.svg), auto;
    /* background-image: url(../imgs/FondoOscuro.png); */
    /* background-size: 100vw; */
    font-family: "Kanit";
    /* font-family: "Raleway"; */
}

button{
    border: 0;
    background-color: #0197D4;
    color: white;
    border-radius: 10%;
    transition: 0.5s;
}

button:hover{
    background-color: white;
    color: #0197D4;
}

button:hover a{
    color: #0197D4;
}
button a{
    text-decoration: none;
    color: white;
}

.fondo button > *{
    width: 2rem;
}
.fondo button{
    border-radius: 50%;
}
.fondo button:first-child:hover img{
    filter: invert(100);
}

.fondo > button{
    display: none;
}
.fondo .activo{
    display: block;
}

.margen{
    margin: 2%;
}

.white{
    background-color: white;
}

.dark{
    background-color: rgba(0, 0, 0, 0.658);
}

