
.container > div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div > div{
    display: flex;
    justify-content: space-between;
}

button{
    margin: 2% 4% 0;
    padding: 1rem;
    font-size: 2rem;

}
