body,figure{
    margin: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.445);
    cursor: url(../imgs/cursor.svg), auto;
    background-image: url(../imgs/FondoOscuro.png);
    background-size: 100vw;
    font-family: "Kanit";
    /* font-family: "Raleway"; */
}

button{
    border: 0;
    background-color: #0197D4;
    color: white;
    border-radius: 10%;
    transition: 0.5s;
}

button:hover{
    background-color: white;
    color: #0197D4;
}

button:hover a{
    color: #0197D4;
}
button a{
    text-decoration: none;
    color: white;
}

